<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hanyuweb.mapper.LoginMapper">
	<select id="doLogin" resultType="cn.hanyuweb.bean.T_MALL_USER_ACCOUNT">
		select * from T_MALL_USER_ACCOUNT where 
		yh_mch=#{yh_mch} and yh_mm=#{yh_mm}
	</select>
</mapper>